/* Class Style Speech */
p.speech {font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    color:black;}

/* Class Style Stage-direction */
p.stagedirection {font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color:black;
    background-color: lightgray;
    padding: 5px;}

p.stagedirection:hover {font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color:whitesmoke;
    background-color: darkgray;
    padding: 5px;}

/* Class Style Name */
h4 {font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
    color:black;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease, border 0.3s ease;}

h4:hover {box-shadow: 5px 5px 10px salmon;
        border: solid slategray}

/* Styles For Each Name */
h4.caesar {color:blueviolet;} 

h4.soothsayer {color:aquamarine;}

h4.artemidorus {color:green;}

h4.publius {color:yellow;}

h4.deciusbrutus {color: orange;}

h4.cassius {color: pink;}

.styled-table {
    width: 50%;
    border-collapse: collapse; 
    margin: 20px auto;
    border: 2px dotted black;
    box-shadow: darkslategrey;}

.styled-table thead tr {
    background-color: blue;
    color: whitesmoke;
    text-align: left;
    font-weight: bold;}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid lightslategray; 
    text-align: center;}

.styled-table tbody tr:nth-of-type(even) { 
    background-color: lightgrey;}

.styled-table tbody tr:hover {
    background-color: lightskyblue;}
